body {
    top: 15%;

    background: linear-gradient(to right, #639 , yellow); /* Standard syntax */
    color: rgba(0,0,0,.5);

    text-align: center;
    letter-spacing: .3em;
    text-transform: uppercase;
    font: 'Raleway', sans-serif;
}

h1 {
    width: 100%;

    color: white;

    text-align: center;
    letter-spacing: .5em;
    text-transform: uppercase;
    font: 600 3.5em 'Raleway', sans-serif;
}

.areaColor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
}

button {
    cursor: pointer;
    margin-top: 30px;
    width: 100px;
}

.endResultColor {
    color: rgba(0,0,0,.5);
    height: auto;
    width: 100%;
    white-space: nowrap;
    padding:0 4px;
    text-align: center;
    letter-spacing: .01em;
    text-transform: none;
    cursor: pointer;
    font: 900 2em 'Raleway', sans-serif;
}

/*TOOLTIP*/
/*resource: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_copy_clipboard2*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    position: absolute;
    visibility: hidden;
    bottom: 150%;
    left: 50%;

    width: 140px;
    margin-left: -75px;
    padding: 5px;

    border-radius: 6px;
    background-color: #555;
    color: #fff;
    opacity: 0;

    text-align: center;

    z-index: 1;

    transition: opacity .3s;
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;

    margin-left: -5px;

    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;

    opacity: 1;
}

/*BUTTON*/
.pressedEffect {
    display: inline-block;

    padding: 15px 35px;

    width: auto;

    border: none;
    border-radius: 15px;
    background-color: #663399;
    box-shadow: 0 9px #999;
    outline: none;
    color: #fff;

    text-align: center;
    text-decoration: none;
    font-size: 24px;

    cursor: pointer;
}

.pressedEffect:hover {
    background-color: purple;
}

.pressedEffect:active {
    background-color: purple;
    box-shadow: 0 5px #666;

    transform: translateY(4.5px);
}
